.App {
  font-family: 'Arial', sans-serif; /* Fuente más moderna */
  background: linear-gradient(to bottom, #d3d3d3, #aaf9aa);
  background-color: #f4f4f4; /* Fondo más claro */
  min-height: 100vh; /* Asegurarse de que ocupe toda la altura */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
  /* justify-content: center; */ /* Comentado para que el contenido no se centre verticalmente */
  padding-top: 20px; /* Espacio en la parte superior */
}

/* Estilo general del body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d3d3d3, #98ff98); /* Degradado de gris claro a verde menta */
}

/* Barra de menú */
.menu-bar {
  background-color: #98ff98; /* Azul celeste claro */
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9fa8fc; /* Borde para el efecto 3D */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el efecto 3D */
}

/* Items del menú */
.menu-item {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-transform: uppercase; /* Texto en mayúsculas */
  font-weight: bold; /* Texto en negritas */
  color: white;
  border: 1px solid transparent; /* Borde transparente para mantener el mismo tamaño en hover */
}

.menu-item:hover {
  background-color: #ff8500; /* Naranja al pasar el cursor */
  color: black; /* Texto negro al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más profunda para el efecto 3D */
  border: 1px solid #9fa8fc; /* Borde para el efecto 3D */
}

  
  .btn-orange {
    background-color: #ff7f00; /* Color naranja */
    border: none;
    color: white; /* Texto blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el efecto 3D */
}

.btn-orange:hover {
    transform: translateY(-2px); /* Efecto 3D al pasar el mouse */
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1); /* Sombra más profunda al pasar el mouse */
}

.btn-orange:active {
    transform: translateY(1px); /* Efecto de presionado */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra más corta al presionar */
}
  

.container {
  padding: 20px; /* Espacio alrededor del contenido */
}

.card {
  margin-top: 20px; /* Espacio arriba de la tarjeta */
}

.card-img-top {
  width: 100px; /* Ancho de la imagen */
  margin: 0 auto; /* Centrar la imagen */
  border-radius: 50%; /* Hacer la imagen circular */
}

.card-title, .card-text {
  text-align: center; /* Centrar el texto */
}

.list-values {
  list-style-type: none; /* Remover los puntos de la lista */
  padding: 0; /* Remover el padding por defecto */
}

.list-values li {
  padding: 10px 0; /* Espacio arriba y abajo de cada elemento */
  border-bottom: 1px solid #e0e0e0; /* Línea divisoria */
}

.list-values li:last-child {
  border-bottom: none; /* Remover la línea del último elemento */
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Estilos para las listas desplegables */
select {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #888 50%),
                    linear-gradient(-45deg, transparent 50%, #888 50%),
                    linear-gradient(to right, #eee, #eee);
  background-position: calc(100% - 20px) calc(1em + 2px),
                       calc(100% - 15px) calc(1em + 2px),
                       calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

select:focus {
  outline: none;
  border-color: #aaa;
  background-color: #e8e8e8;
}

option {
  font-weight: normal;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.menu-item:hover a {
  color: black;
}